@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*Paleta de colores*/
:root {
    --red: #ff6961;
    --green: #77dd77;
    --yellow: #fdfd96;
    --blue: #84b6f4;
    --pink: #fdcae1;
    --brandColor: hsl(327, 92%, 76%);
    --backgroundBody: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  body {
    background: var(--backgroundBody);
    height: 100vh;
    color: var(--textDark);
  }
  html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

  .boxi > div {
    height: 100vh !important; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backg-color-red{
    background-color: var(--red);
  }
  .backg-color-green{
    background-color: var(--green);
  }
  .backg-color-yellow{
    background-color: var(--yellow) !important;
  }
  .backg-color-blue{
    background-color: var(--blue);
  }
  .backg-color-pink{
    background-color: var(--pink);
  }
  .color-pink-text{
    color: var(--brandColor);
  }




  .bordecito{
    border: 2px solid red;
  }
  .unstyle {
    all: unset;
  }
  .marginsNo{
    margin: 0;
    padding: 0;
  }

  input {
      font-size: 1rem;
  }

  input:focus {
      border-color: var(--brandColor) !important;
      box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4rem;

  }

  .left .title {
    font-weight: 800;
    letter-spacing: -1px;
    text-align: center;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
    text-align: center;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
    text-align: center;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;

  }
